body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
td.black
{
    background-color: black;
}
td.white
{
    background-color: white;
}
td{
    height: 60px;
    width: 60px;
}
table.chessboard{
    border: 5px solid black;
    border-collapse: collapse;
}
